version: "3.9"

services:
    mysql:
        image: mysql:8.0
        container_name: ecommerce-mysql
        environment:
            MYSQL_DATABASE: ecommercedb
            MYSQL_ROOT_PASSWORD: olusola
        ports:
            - "3306:3306"
        volumes:
            - mysql_data:/var/lib/mysql
        healthcheck:
            test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-p$MYSQL_ROOT_PASSWORD"]
            interval: 10s
            timeout: 5s
            retries: 5

    backend:
        build: .
        container_name: ecommerce-backend
        ports:
            - "8080:8080"
        environment:
            SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/ecommercedb?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
            SPRING_DATASOURCE_USERNAME: root
            SPRING_DATASOURCE_PASSWORD: olusola
            SPRING_JPA_HIBERNATE_DDL_AUTO: update
        depends_on:
            mysql:
                condition: service_healthy

volumes:
    mysql_data:

